<?xml version="1.0"?>

<launch>
  
  <include file="$(find hector_nist_arena_worlds)/launch/maze_10m_x_14m.launch"/>
  
  <include file="$(find hlugv_gazebo)/launch/spawn_hlugv_rc2012.launch"/>
  
  <include file="$(find hlugv_apps)/launch/hector_mapping.launch"/>
  
  <include file="$(find hlugv_apps)/launch/hector_simple_exploration.launch"/>
    
</launch>
