<launch>
  <node name="cam_driver" pkg="vrmagic_stereo" type="vrmstnode"
    args="left:=/stereo/left right:=/stereo/right" />

  <node name="cam_gui" pkg="dynamic_reconfigure" type="reconfigure_gui"
    args="cam_driver" />

  <node name="cam_display" pkg="image_view" type="image_view"
    args="image:=/stereo/left/image_raw" />

  <node name="cam_recorder" pkg="rosbag" type="rosbag"
    args="record -O /home/darkschneider/ros/bags/vr-record
    /stereo/left/camera_info /stereo/left/image_raw
    /stereo/right/camera_info /stereo/right/image_raw" />
</launch>
