<?xml version="1.0"?>

<launch>

  <!-- This starts the exploration planner node that makes exploration plans available via a service server -->
  <include file="$(find hector_exploration_node)/launch/exploration_planner.launch"/>
  
  <!-- This starts the simple_exploration_controller node that calls the above mentioned service and generates geometry_msgs/Twist commands
    on the 'cmd_vel' topic so the robot follows the exploration plan -->
  <node pkg="hector_exploration_controller" type="simple_exploration_controller" name="simple_exploration_controller" output="screen">  
  
</launch>