<?xml version="1.0"?>


<launch>
    <param name="use_sim_time" value="true" />

    <!-- send the robot XML to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find biorob_gazebo)/urdf/biorob_v3_x4.gazebo.xacro'" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_robot" pkg="gazebo" type="spawn_model"
      args="-param robot_description
            -urdf
            -z 0.5
            -model robot_description"
      respawn="false" output="screen" />
      
          <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" type="string" value="" />
    </node>

    <!-- biorob_arm Controllers -->
    <rosparam file="$(find biorob_gazebo)/config/biorob_v3_x4_arm_controller_gazebo.yaml" command="load" />
    <node name="biorob_v3_x4__arm_controller_spawner" pkg="pr2_controller_manager" type="spawner"
          args="joint1_controller
                joint2_controller
                joint3_controller
                joint4_controller"
          output="screen" />
</launch>
