<launch>
  <node name="cam_driver" pkg="vrmagic_stereo" type="vrmstnode"
    args="left:=/stereo/left right:=/stereo/right" />

  <node name="cam_gui" pkg="dynamic_reconfigure" type="reconfigure_gui"
    args="cam_driver" />

  <node name="cam_display_left" pkg="image_view" type="image_view"
    args="image:=/stereo/left/image_raw" />

 <node name="cam_display_right" pkg="image_view" type="image_view"
    args="image:=/stereo/right/image_raw" />
</launch>
