<?xml version="1.0"?>

<robot name="hlugv"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:xacro="http://ros.org/wiki/xacro">
    
    <!-- Included URDF Files -->
    <include filename="$(find hlugv_description)/urdf/hlugv_base.urdf.xacro" />
    
    
    <!-- Add arm -->  
    <include filename="$(find hector_lc_arm_description)/urdf/hector_lc_arm_ax12_5dof.urdf.xacro" />
<!--    <hector_lc_arm parent="base_link" >
        <origin xyz="0.13 -0.04 0.04" rpy="0 0 0"/>
    </hector_lc_arm>-->
    
    <!-- Add roll/pitch mount -->
    <include filename="$(find hlugv_description)/urdf/sensor_roll_pitch_mount.urdf.xacro" />
    <sensor_roll_pitch_mount parent="base_link" prefix="ls" offset_x="-0.13" offset_y="0.04" offset_z="0.04">
    </sensor_roll_pitch_mount>
    
    <include filename="$(find hector_sensors_description)/urdf/generic_camera.urdf.xacro" />
    <xacro:generic_camera name="front_cam" parent="base_link" ros_topic="camera/image" cam_info_topic="camera/camera_info" update_rate="10" res_x="320" res_y="240" image_format="R8G8B8" hfov="90">
      <origin xyz="-0.05 0.0 0.14" rpy="0 0.3 0"/>
    </xacro:generic_camera>
    
    <hlugv />
</robot>
