<?xml version="1.0"?>

<launch>
    <param name="use_sim_time" value="true" />

    <!-- send the robot XML to param server -->
    <!--<param name="robot_description" command="$(find hector_rgbd_test_gazebo)/urdf/rgbd_station.urdf.xacro" />-->
<!--    <param name="robot_description" command="$(find xacro)/xacro.py '$(find hector_rgbd_test_gazebo)/urdf/rgbd_station.urdf.xacro'" />

    <node name="spawn_robot" pkg="gazebo" type="spawn_model"
      args="-param robot_description
            -urdf
            -z 0.5
            -Y 0.6
            -model robot_description"
      respawn="false" output="screen" />
      
          <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" type="string" value="" />
    </node>-->
    
    <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find hector_rgbd_test_gazebo)/worlds/quad_room.world" respawn="false" output="screen"/>
  
    <!-- start gui -->
    <!--<group if="$(arg gui)">-->
      <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen" required="true"/>
    <!--</group>-->




</launch>
