<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
         xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
         xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
         xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
         name="hector_dimensions">


 <joint name="openni_camera_depth_joint" type="fixed" >
    <origin xyz="0.0 -0.02 0.0" rpy="0 0 0" />
    <parent link="openni_camera_link" />
    <child link="openni_depth_frame" />
  </joint>

  <link name="openni_depth_frame">
  </link>

  <joint name="openni_camera_depth_optical_joint" type="fixed" >
    <origin xyz="0.0 0.0 0.0" rpy="-1.57 0 -1.57" />
    <parent link="openni_depth_frame" />
    <child link="openni_depth_optical_frame" />
  </joint>

  <link name="openni_depth_optical_frame">
  </link>

  <joint name="openni_camera_rgb_joint" type="fixed" >
    <origin xyz="0.0 -0.04 0.0" rpy="0 0 0" />
    <parent link="openni_camera_link" />
    <child link="openni_rgb_frame" />
  </joint>

  <link name="openni_rgb_frame">
  </link>

  <joint name="openni_camera_rgb_optical_joint" type="fixed" >
    <origin xyz="0.0 0.0 0.0" rpy="-1.57 0 -1.57" />
    <parent link="openni_rgb_frame" />
    <child link="openni_rgb_optical_frame" />
  </joint>

  <link name="openni_rgb_optical_frame">
  </link>

  
</robot>