<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
         xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
         xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
         xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
         name="hector_dimensions">
  <macro name="hector_ugv_base_controllers">
   <!-- CONTROLLERS -->
  <gazebo>
    <controller:all_wheel_steering_plugin name="all_wheel_steering_controller" plugin="liball_wheel_steering_plugin.so">
      <alwaysOn>true</alwaysOn>
      <controlRate>50.0</controlRate>
      <updateRate>0.0</updateRate>
      <frontLeftAxle>Front_left_wheel_joint</frontLeftAxle>
      <frontRightAxle>Front_right_wheel_joint</frontRightAxle>
      <rearLeftAxle>Rear_left_wheel_joint</rearLeftAxle>
      <rearRightAxle>Rear_right_wheel_joint</rearRightAxle>
      <frontLeftJoint>Front_left_steering_joint</frontLeftJoint>
      <frontRightJoint>Front_right_steering_joint</frontRightJoint>
      <rearLeftJoint>Rear_left_steering_joint</rearLeftJoint>
      <rearRightJoint>Rear_right_steering_joint</rearRightJoint>
      <wheelTrack>0.31</wheelTrack>
      <wheelBase>0.32</wheelBase>
      <wheelRadius>0.073</wheelRadius>
      <jointMaxTorque>10</jointMaxTorque>
      <wheelMaxTorque>1</wheelMaxTorque>
      <minRadius>0.4</minRadius>
      <maxVelX>1.0</maxVelX>
      <robotNamespace>/</robotNamespace>
      <topicName>drive</topicName>
      <jointStateName>wheels/joint_states</jointStateName>
    </controller:all_wheel_steering_plugin>

    <controller:servo_plugin name="camera_servo_controller" plugin="libservo_plugin.so">
      <alwaysOn>true</alwaysOn>
      <controlRate>50.0</controlRate>
      <updateRate>0.0</updateRate>
      <firstServoName>camera/z</firstServoName>
      <firstServoAxis>0 0 1</firstServoAxis>
      <secondServoName>camera/y</secondServoName>
      <secondServoAxis>0 1 0</secondServoAxis>
      <torque>0.05</torque>
      <robotNamespace>/</robotNamespace>
      <topicName>camera/command</topicName>
      <jointStateName>camera/joint_states</jointStateName>
      <proportionalControllerGain>8.0</proportionalControllerGain>
      <derivativeControllerGain>0.0</derivativeControllerGain>
      <maxVelocity>2.0</maxVelocity>
    </controller:servo_plugin>

    <controller:servo_plugin name="laser1_servo_controller" plugin="libservo_plugin.so">
      <alwaysOn>true</alwaysOn>
      <controlRate>50.0</controlRate>
      <updateRate>0.0</updateRate>
      <firstServoName>laser1/x</firstServoName>
      <firstServoAxis>1 0 0</firstServoAxis>
      <secondServoName>laser1/y</secondServoName>
      <secondServoAxis>0 1 0</secondServoAxis>
      <torque>0.5</torque>
      <robotNamespace>/</robotNamespace>
      <topicName>laser1/command</topicName>
      <jointStateName>laser1/joint_states</jointStateName>
      <proportionalControllerGain>8.0</proportionalControllerGain>
      <derivativeControllerGain>0.0</derivativeControllerGain>
      <maxVelocity>0.0</maxVelocity>
    </controller:servo_plugin>

    <controller:gazebo_ros_p3d name="p3d_base_controller" plugin="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>ground_truth/state</topicName>
      <gaussianNoise>0.01</gaussianNoise>
      <frameName>map</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
      <interface:position name="p3d_base_position"/>
    </controller:gazebo_ros_p3d>

    <controller:hector_gazebo_ros_imu name="imu_controller" plugin="libhector_gazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>raw_imu</topicName>
      <accelDrift>0.0 0.0 0.0</accelDrift>
      <accelGaussianNoise>0.1 0.1 0.1</accelGaussianNoise>
      <rateDrift>0.0 0.0 0.0</rateDrift>
      <rateGaussianNoise>0.05 0.05 0.05</rateGaussianNoise>
      <headingDrift>0.0</headingDrift>
      <headingGaussianNoise>0.05</headingGaussianNoise>
    </controller:hector_gazebo_ros_imu>

    <canonicalBody>base_link</canonicalBody>

    <controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
      <interface:audio name="gazebo_ros_controller_manager_dummy_iface" />
    </controller:gazebo_ros_controller_manager>
  </gazebo>

    <transmission type="pr2_mechanism_model/SimpleTransmission" name="camera_z_trans">
      <actuator name="camera_z_servo_actuator" />
      <joint name="camera/z" />
      <mechanicalReduction>1.0</mechanicalReduction>
      <motorTorqueConstant>1</motorTorqueConstant>
    </transmission>

    <transmission type="pr2_mechanism_model/SimpleTransmission" name="camera_y_trans">
      <actuator name="camera_y_servo_actuator" />
      <joint name="camera/y" />
      <mechanicalReduction>1.0</mechanicalReduction>
      <motorTorqueConstant>1</motorTorqueConstant>
    </transmission>

    <transmission type="pr2_mechanism_model/SimpleTransmission" name="laser1_x_trans">
      <actuator name="laser1_x_servo_actuator" />
      <joint name="laser1/x" />
      <mechanicalReduction>1.0</mechanicalReduction>
      <motorTorqueConstant>1</motorTorqueConstant>
    </transmission>

    <transmission type="pr2_mechanism_model/SimpleTransmission" name="laser1_y_trans">
      <actuator name="laser1_y_servo_actuator" />
      <joint name="laser1/y" />
      <mechanicalReduction>1.0</mechanicalReduction>
      <motorTorqueConstant>1</motorTorqueConstant>
    </transmission>



<!--  <gazebo reference="laser1_frame">
    <sensor:ray name="laser1">
      <rayCount>640</rayCount>
      <rangeCount>640</rangeCount>
      <laserCount>1</laserCount>

      <origin>0.0 0.0 0.0</origin>
      <displayRays>true</displayRays>
      <minAngle>-80</minAngle>
      <maxAngle> 80</maxAngle>

      <minRange>0.05</minRange>
      <maxRange>30.0</maxRange>
      <resRange>0.01</resRange>
      <updateRate>40.0</updateRate>
      <controller:gazebo_ros_laser name="libgazebo_ros_laser1_controller" plugin="libgazebo_ros_laser.so">
        <gaussianNoise>0.005</gaussianNoise>
        <alwaysOn>true</alwaysOn>
        <updateRate>40.0</updateRate>
  <robotNamespace>/</robotNamespace>
        <topicName>laser1/scan</topicName>
        <frameName>laser1_frame</frameName>
        <interface:laser name="libgazebo_ros_laser1_iface" />
      </controller:gazebo_ros_laser>
    </sensor:ray>
    <material>Hector/Red</material>
  </gazebo>-->



<!--  <gazebo reference="camera_link">
    <sensor:camera name="camera_sensor">
      <imageSize>640 480</imageSize>
      <imageFormat>L8</imageFormat>
      <hfov>90</hfov>
      <nearClip>0.01</nearClip>
      <farClip>100</farClip>
      <updateRate>20.0</updateRate>
      <controller:ros_camera name="camera_controller" plugin="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>20.0</updateRate>
        <topicName>camera/image</topicName>
        <frameName>camera_link</frameName>
        <interface:camera name="camera_iface" />
      </controller:ros_camera>
    </sensor:camera>
    <turnGravityOff>true</turnGravityOff>
    <material>Hector/Red</material>
  </gazebo> -->



  <!-- GAZEBO MATERIALS -->
  <gazebo reference="socket_link">
    <material>Hector/Blue</material>
  </gazebo>

  <gazebo reference="base_link">
    <material>Hector/Grey</material>
  </gazebo>

  <gazebo reference="laser0_link">
    <material>Hector/Grey</material>
  </gazebo>

  <gazebo reference="top_link">
    <material>Hector/Green</material>
  </gazebo>

  <gazebo reference="laser1RollServo">
    <material>Hector/Grey2</material>
  </gazebo>

  <gazebo reference="laser1_link">
    <material>Hector/Grey</material>
  </gazebo>

  <gazebo reference="cameraYawServo">
    <material>Hector/Grey2</material>
  </gazebo>

  <gazebo reference="mounting_link">
    <material>Hector/White</material>
  </gazebo>

  <gazebo reference="camera_frame">
    <material>Hector/Grey</material>
  </gazebo>

  <gazebo reference="infrared_frame">
    <material>Hector/Grey</material>
  </gazebo>


  </macro>

  
  </robot>
