<?xml version="1.0"?>

<launch>

  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="base_frame" value="/base_stabilized"/>
    <arg name="odom_frame" value="/base_stabilized"/>
    <arg name="pub_map_odom_transform" value="true"/>
    <arg name="scan_subscriber_queue_size" value="5"/>
    <arg name="map_size" value="1024"/>
  </include>
  
  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen" launch-prefix="nice -n 15">
    <param name="target_frame_name" type="string" value="/map" />
    <param name="source_frame_name" type="string" value="/base_stabilized" />
    <param name="trajectory_update_rate" type="double" value="2" />
    <param name="trajectory_publish_rate" type="double" value="1" />
  </node>
  
  <node pkg="hector_map_server" type="hector_map_server" name="hector_map_server" output="screen" respawn="true" launch-prefix="nice -n 15">
   <!-- <remap from="map" to="scanmatcher_map" />-->
  </node>
  
</launch>