<?xml version="1.0"?>

<launch>
   
  <!-- Start Gazebo with wg world running in (max) realtime -->
  <include file="$(find hector_gazebo_worlds)/launch/small_indoor_scenario.launch"/>
   
  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find hector_turtlebot_gazebo)/launch/bringup.launch" />
  
  <include file="$(find hector_turtlebot_apps)/launch/move_base.launch" />
  <!--<include file="$(find hector_turtlebot_apps)/launch/hector_mapping.launch" />-->
  <include file="$(find hector_turtlebot_apps)/launch/amcl.launch" />
  
  
  <!-- Start rviz visualization with preset config -->
  <node pkg="rviz" type="rviz" name="rviz"/>
   
</launch>