<?xml version="1.0"?>

<robot name="biorob_v3_x6"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <include filename="$(find biorob_description)/urdf/biorob_v3_x6/biorob_v3_x6.urdf.xacro" />
 
  <gazebo>
    <controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
      <interface:audio name="gazebo_ros_controller_manager_dummy_iface_biorob"/>
    </controller:gazebo_ros_controller_manager>
  </gazebo>
</robot>